footer {
	height: 6.25rem;
	background-color: #121212;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 0 0 12.5%;
	font-family: "Inter", sans-serif;
	color: #c4c4c4;
	font-size: 1rem;
}
