main {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
main .sobreMim {
	display: flex;
	margin: 6.25rem 0 6.25rem 12.5%;
	gap: 11.438rem;
	flex-wrap: wrap;
	transition: all 0.5s;
}
main .sobreMim .perfil img {
	width: 22.938rem;
	height: 22.938rem;
	border-left: 4px solid #00d2df;
	border-radius: 4px;
}
main .sobreMim .desc {
	width: 33.125rem;
}
main .sobreMim .desc h2 {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.813rem;
	margin-bottom: 2.5rem;
}
main .sobreMim .desc h3 {
	color: #fff;
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.5rem;
	margin-bottom: 1.313rem;
}
main .sobreMim .desc p {
	color: #c4c4c4;
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 2rem;
	margin-bottom: 2.625rem;
}

main .sobreMim .redes-sociais {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1.875rem;
	margin-bottom: 2.75rem;
}
main .sobreMim .buttons {
	display: flex;
	flex-direction: row;
	gap: 3rem;
}
main .sobreMim .buttons a {
	color: #fff;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.21rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	width: 9.563rem;
	border: 2px solid transparent;
	padding: 0.5rem 1rem;
}
main .sobreMim .buttons .email {
	border-image: linear-gradient(45deg, #9358f7, #10d7e2 100%) 1;
}
main .sobreMim .buttons .curriculo {
	border-image: linear-gradient(90deg, #d24074, #6518b4 100%) 1;
}
